@font-face {
    font-family: 'Salmaal';
    src: url('./fonts/SalmaalfasansLight-d9MJx.otf');
}
.recipe-page{
    background-color: #e05c33;
    --color:#ffffff;
    font-size: 50px;
    font-family: 'Lofty';
    text-align: center;
}