@font-face {
    font-family: 'Salmaal';
    src: url('./fonts/SalmaalfasansLight-d9MJx.otf');
}
ion-toolbar{
    --background: #e05c33;
}
.cravings-home{
    background-color: #e05c33;
    --color:#ffffff;
    font-size: 50px;
    font-family: 'Lofty';
    text-align: center;
  }
.explore-content{
    padding-top: 8%;
    padding-bottom: 3%;
    font-size: 40px;
    font-family: 'Salmaal';
}
.explore-text{
    font-family:'Salmaal';
    font-size: medium;
    display: inline-block;
    width:auto;
    height: auto;
    padding-right: 5%;
    padding-bottom: 5%;
}
